* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
h1, h2, h3, h4 {
    font-family: 'Patua One', cursive;
    color: #693171;
    margin-bottom: 10px;
}

p {
    font-family: 'Slabo 27px', serif;
}

hr {
    margin-bottom: 10px;
}

.responsive {
    width: 100%;
    height: auto;
}

.about-intro-container {
    
  /* background-color: #D6E9FE; */
  display: flex;
  justify-content: center;
}

.about-intro {
  width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.about, .code-of-conduct, .contribute {
    padding: 20px;
}

.about p, .code-of-conduct p{
    margin-bottom: 5px
}

.code-of-conduct {
    background-color: #D6E9FE;
}

.code-of-conduct ul{
    margin-left: 20px;
    padding:10px;
}

.contribute, .tel-num {
    background-color: #fef8b7;
}

.contact-container, .contact {
    display: flex;
    justify-content: center;
}

.contact {
    width: 900px;
    flex-wrap: wrap; 
}

.contact-item {
    width: 300px;
    background-color:white;
    border:#D6E9FE 1px solid;

}

.contact-item ul {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.contact-item h3 {
    margin-top: 10px;
    text-align: center;
}

.contact-item p{
    padding-left:30px;
}